@font-face {
    font-family: TheGreatEscape;
    src: url('../assets/fonts/TheGreatEscape.ttf') ,url('../assets/fonts/TheGreatEscape.eot');
    /* IE9 */
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background: #f6f8f8;
    color: #5b666d;
    background-color: #f2f5f9;
}



.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    border-color: #e0e5e6;
    background: #fafafa;
    font-size: 13px;
    text-align: center;
    border-top: 2px solid #e0e5e6;

}

body > .container {
    padding: 60px 15px 0;
}

.container .text-muted {
    margin: 20px 0;
}

.brand-title {
    font-family: 'TheGreatEscape', sans-serif;
    font-weight: 800;
    color: #777;
}

.navbar .transparent .navbar-inner {
  background: none;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

hr.soften {
    height: 1px;
    margin: 20px 0;
    background-image: -webkit-linear-gradient(left, transparent, #d9edf7, transparent);
    border: 0;
}
