@font-face {
    font-family: TheGreatEscape;
    src: url('../assets/fonts/TheGreatEscape.ttf') ,url('TheGreatEscape.eot');
    /* IE9 */
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    border-color: #e0e5e6;
    background: #f6f8f8;
    font-size: 13px;
    text-align: center;
    border-top: 1px solid #e8e8e8;
}

body > .container {
    padding: 60px 15px 0;
}

.container .text-muted {
    margin: 20px 0;
}

.brand-title {
    font-family: 'TheGreatEscape', sans-serif;
    font-weight: 800;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

hr.soften {
    height: 1px;
    margin: 20px 0;
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, .1), rgba(0, 0, 0, 0));
    border: 0;
}

code {
    font-size: 80%;
}
